
<div class="main-container">
    <div class="heading">
      <h1 class="heading__title"> Fecha: {{fecha}}</h1>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">{{frase}}</h2>
        <p class="card__apply">
          <a class="card__link" (click)="generarFrase()">Siguiente <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>